<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/custom.css" type="text/css">
  {% block head %}
    <title> {% block title %} TITLE {% endblock %} </title>
  {% endblock %}

  <!-- flash messages !-->
  {% set messages = get_flashed_messages() %}
  {% for message in messages %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}

    </head>
  <body onload="displayCalendar()" {% block background %}
	{% endblock %}>
  <!-- TOP BAR =================================== -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">ATTENDANCE TRACKER</a>

      <!-- left part of navbar -->
        {% if isLogged %}
        <ul class="navbar-nav navbar-left">
          {% if acct == 'S' %}
          <li class="nav-item">
           <a class="nav-link" href="/profile">Profile</a>
          </li>
          {% endif %}

          {% if acct == 'L' %}
          <li class="nav-item">
           <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attendance">Attendance</a>
          </li>
     	    <li class="nav-item">
            <a class="nav-link" href="/excuse">Submit Excuse</a>
          </li>
          {% endif %}

          {% if acct == 'T' %}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attendance">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/excuse">Submit Excuse</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/student">Student Profile</a>
          </li>
	        <li class="nav-item">
            <a class="nav-link" href="/class">Create Class</a>
          </li>
          {% endif %}
      </ul>
      <!-- right part of navbar -->
      <ul class= "nav navbar-nav ml-auto navbar-right">
        <li class="nav-item">
          <a href="/logout" ><button class="btn btn-outline-success my-2 my-sm-0 nav_button" >Logout</button> </a>
        </li>
      </ul>
        {% else %}

      <ul class="navbar-nav navbar-left">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Join</a>
        </li>
      </ul>

      <ul class = "nav navbar-nav ml-auto navbar-right">
        <li class = "nav-item">
          <a href="/login" ><button class="btn btn-outline-success my-2 my-sm-0 nav_button">Login</button> </a>
        </li>
      </ul>
        {% endif %}
  </nav>

<div class="body" style="background-color:lightblue;">
<br>
{% block body %}
CONTENT
{% endblock %}
</div>
<br>
<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="static/cal.js"></script>
</body>
</html>
