{% extends "base.html" %}

  {% block title %}
  Create Class
  {% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <H2 style="text-align:center;">Create a Class</h2>
      <hr>
  	<form method = "POST" action ="/class">
            Course Code:
            <input class="form-control"type="text" name="newCode" placeholder="Course code" required> <br>
            Course Password:
            <input class="form-control"type = "password" name = "newPassword" placeholder="Password" required>  <br>
              Confirm Password:
            <input class="form-control"type="password" name = "repeatPassword" placeholder="Confirm password" required> <br>

            <input class="btn btn-info btn-block" type="submit" name="form" value="Submit">
  	</form>
	<br>
  	 <form style="text-align: center;" method="get" action="/">
          <button class="btn btn-default btn-success" type="submit" value="Back To Home Page" >Back To Home Page </button>
        </form>



  </div>
</div>

  <br><br>
<div class="row">
</div>
{% endblock %}
