{% extends "base.html" %}
{% block title %}
Registration
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron" rel="stylesheet"style="background-color: white; ">
    <div class="row">
    <div class="col-4">
    <center> <h2> Select a class, </h2> </center>
    <hr>
    <form method = "GET" action ="/student">
      Class:
      <select name="course" class="form-control" required>
        <option value=""></option>
        {% for each in courses %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
      <br>
      <input class="btn btn-info btn-block" type="submit" name="form" value="Submit"><br>
    </form>
    <center> <h2> then a student: </h2> </center>
    <hr>
    <form method = "GET" action ="/student">
      <select name='student' class="form-control"required>
        {% for each in students %}
        <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
      <br>
      <input class="btn btn-info btn-block" type="submit" name="form" value="Submit">
      <br><br>
    </form>
  </div>
  <div class="col-8">
    {% if searched %}
    <h2><center>{{name}}</center></h2>
    <hr>
    <p class="text-muted text-center">{{user}}</p>
	  <form method = "POST" action = "/student">

        <div class="card infobox">
        Number of Excused Absences: 3 <br>
        Number of Unexcused Absences: 3 <br>

        Grade:

        <input class= "form-control" type="text" name="grade" value="{{grade}}"required><br>

        <input class="btn btn-info btn-block" type="submit" name="form" value="Submit"><br><br>
        </div>
        </div>
      </div>
      <div class="row">
            <h3> Absences |  </h3>

            <div id="calendar"></div>
      </div>
      </form>
    </form>
    {% endif %}


  </div>
</div>
<br><br>
{% endblock %}
